.ac-select {
  overflow-y: auto;
  border: 0;
  width: 100%;
}

.ac-select:focus-visible {
  outline: 0;
}

.ac-select__input {
  padding: 0;
  overflow: hidden;
  transition: none;
}

.ac-select__input:has(>select:focus) {
  border-color: var(--focus-input-border);
  box-shadow: var(--form-input-glow--focus);
  outline: none;
}